# Archivos y directorios específicos de IntelliJ
.idea/
*.iml

# Directorio de archivos generados por Maven
/target/

# Maven Wrapper
/.mvn
mvnw
mvnw.cmd

# Directorio de archivos generados por IntelliJ
/out/


